# Dependencies
node_modules/
package-lock.json
/.yarn
!/.yarn/patches
!/.yarn/releases
!/.yarn/plugins

# Build output
/dist
/pkg
/*.tgz

# Editors / OS
/.vscode
/.idea
.DS_Store
Thumbs.db

# Logs / debug
*.log
DEBUG-*
